*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Poppins',sans-serif;
}
.main{
    background-position: center center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    padding: 5vh;

}
nav div a{
    margin: 0.7vw;
    text-decoration: none;
    color: black;
    font-size: 14px;
    
    
}
nav div a:hover{
    color: orangered;
}
nav div button {
    margin-left: 6vw;
    padding: 1.50vh 1vw;
    background-color: rgb(72, 155, 238);
    border: 0;
}
nav div button a{
    color: white;
    font-size: 14px;

}
.header{
    background-color: rgb(236, 241, 241);
    background-position: center center;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vh;
    font-size: 35px;
}  
.simple{
    font-size: 15px;
    margin-top: 1vh;
} 
.image{
    display: flex;
    justify-content: center;
    color:  rgb(236, 241, 241);
}
.get{
    padding: 12px 15px;
    margin: 2vh;
    background-color: rgb(246, 181, 155);
    border: 0;
}
div .get a:hover{
    color:  rgb(214, 62, 2);
}
div .learn a:hover{
    color:  rgb(16, 173, 120);
}
.learn{
    padding: 12px 15px;
    background-color: rgb(174, 238, 217);
    border: 0;
}
div .get a{
    text-decoration: none;
    color:  rgb(249, 73, 4);

}
div .learn a{
    text-decoration: none;
    color: rgb(19, 207, 144);
}

.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;

}


